{% extends "layout2.html" %}
{% block y1 %}

<a href="/client_register"><span class="fa fa-registered"></span> User Register</a><br>
<a href="/coach_register"> <span class="fa fa-registered"></span> Coach Register</a><br>
<br>
<a href="/practice_aws_cp"><span class="fa fa-book"></span> Practice AWS CP</a><br>
<a href="/practice_aws_saa"><span class="fa fa-book"></span> Practice AWS SAA</a><br>
<a href="/add_aws_cp"><span class="fa fa-plus"></span> Add AWS CP Questions</a><br>
<a href="/add_aws_saa"><span class="fa fa-plus"></span> Add AWS SAA Questions</a><br>
<a href="/scan"><span class="fa fa-book"></span> Scan</a><br>
<br>
<a href="/feedback"><span class="fa fa-address-card"></span> Feedback</a><br>

{% endblock %}