{% extends "layout1.html" %}
{% block y %}
<div class='container'>
    <h1>Reset Password</h1>
    <form action="/reset_password/{{subject}}/{{email}}/{{id}}" method="POST" onsubmit="return register_validation()">
        <input type="password" name="password1" id="password1" placeholder="Password" required><br><br>
        <input type="password" name="password2" id="password2" placeholder="Confirm Password" required><br><br>
        <input type="submit" value="Reset Password">
    </form>
</div>
{% endblock %}